version: '2'
services:
  nginx:
    image: nginx
    links:
      - web:web
    volumes:
      - ./static:/var/www
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
    ports:
      - 80:80
      - 443:443

    depends_on:
      - web

  web:
    restart: always
    build: .

#    command: "gunicorn app:app -b 0.0.0.0:8000"
    command: "python app.py"
    links:
      - redis:redis
      - mongo:mongo
    depends_on:
      - redis
      - mongo
    volumes:
      - ./src:/src
    expose:
      - "8000"
    environment:
      CALLBACK_API: http://web:5000/api/upgrade
      LOGBIN_API: http://web:5000/api/logbin
      REGIONS_API: http://web:5000/api/regions
      IMAGES_API: http://web:5000/api/images
      POSTGRES_HOST: db
      POSTGRES_DB: upgrade
      POSTGRES_USER: upgrade
      POSTGRES_PASSWORD: password


  redis:
    image: redis:latest

  worker:
    build: .
    command: "celery -E --loglevel=DEBUG -A tasks.celery worker"
    restart: always

    links:
      - mongo:mongo
      - redis:redis
    depends_on:
      - redis
      - mongo
    environment:
      CALLBACK_API: http://web:5000/api/upgrade
      LOGBIN_API: http://web:5000/api/logbin
      REGIONS_API: http://web:5000/api/regions
      IMAGES_API: http://web:5000/api/images
      POSTGRES_HOST: db
      POSTGRES_DB: upgrade
      POSTGRES_USER: upgrade
      POSTGRES_PASSWORD: password

  mongo:
    image: mongo:latest
    expose:
      - 27017

