body {
  background: white;
  color: black;
}
.tab-content {
    background: black;
    color: white;

}

pre {
    padding: 0px;
    width: 100%;
    font-size: 13px;
    line-height: 1.42857143;
    color: white;
    word-break: break-all;
    word-wrap: break-word;
    background-color: black;

}
pre code {
  font: 11pt/1.25 Monaco, monospace;
}

.debug { color: Snow; }
.info  { color: LawnGreen; }
.warn  { color: GoldenRod; }
.error { color: LightCoral; }

