{% extends 'layout.html' %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/diff.css" />
{% endblock %}


{% block content %}

<div class="container-fluid">
<H1>Verification Delta Viewer</H1>
        <div class="row">
            <div class="col-lg-6">
                <h1>
                    <span>Pre-Verification</span>
                </h1>

            </div>
            <div class="col-lg-6">
                <h1>
                    <span>Post-Verification</span>
                </h1>
            </div>

        </div>
    </div>

    <div class="row">

        {{ table|safe }}
    </div>
</div>

{% endblock %}
