<div class="modal fade" id="newStagingModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Starting a new Code Staging Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" method="POST">
        <div class="modal-body">
          <div class="form-group row">
            <label for="mop" class="col-sm-2 col-form-label">Select Procedure:</label>
            <div class="col-sm-10">
                <select name="mop" class="form-control" id="mop">
                    {%  for mop in procedures.keys() %}
                        <option>{{ mop }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="hostnames-input" class="col-sm-2 col-form-label">Device List</label>
            <div class="col-sm-10">
              <textarea name="hostnames" rows="10" class="form-control" type="text" placeholder="Enter hostname or IP one per line" id="hostnames-input"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="username-input" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input name="username" class="form-control" type="text" placeholder="admin" id="username-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-lg btn-primary btn-block" type="submit">make it happen</button>

        </div>
      </form>
    </div>
  </div>
</div>

<!--modal for collecting user credentials-->
<div class="modal fade bs-example-modal-sm" id="credentials" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Please Enter your device credentials
                </h4>
            </div>
            <div class="modal-body">

                <div class="wrapper">
                    <form action="#" class="form-signin" method="post">
                        <h5 class="form-signin-heading">we will never store your credentials</h5>
                          <div class="form-group row">
                            <label for="mop" class="col-sm-2 col-form-label">Select Procedure:</label>
                            <div class="col-sm-10">
                                <select name="mop" class="form-control" id="mop">
                                    {%  for mop in procedures.keys() %}
                                        <option>{{ mop }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="username-input" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                              <input name="username" class="form-control" type="text" placeholder="admin" id="username-input">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                              <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                          </div>
{#                        <input type="text" class="form-control" name="username" placeholder="username" required="" autofocus="" />#}
{#                        <input type="password" class="form-control" name="password" placeholder="password" required=""/>#}
                        <button class="btn btn-lg btn-primary btn-block" onclick="submitCreds()">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
