{% macro progress_bar(job) %}
  {% if 'FAILED'  in job.status %}
    {% set cls = 'progress-bar-danger' %}
    {% set value = '100' %}
  {% elif 'TRANSFERRING' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '25' %}
  {% elif 'SYNCHRONIZING' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '40' %}
  {% elif 'CODE STAGING SUCCESSFUL' in job.status %}
    {% set cls = 'progress-bar-info' %}
    {% set value = '50' %}
  {% elif 'BACKING UP RUNNING CONFIG' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '55' %}
  {% elif 'SETTING BOOT VARIABLE' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '60' %}
  {% elif 'VERIFY BOOT VARIABLE' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '65' %}
  {% elif 'RELOADING' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '75' %}
  {% elif 'BACK ONLINE' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '80' %}
  {% elif 'BACK ONLINE' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '80' %}
  {% elif 'VERIFYING' in job.status %}
    {% set cls = 'progress-bar-success active' %}
    {% set value = '90' %}
  {% elif 'UPGRADE SUCCESSFUL' in job.status %}
    {% set cls = 'progress-bar-success' %}
    {% set value = '100' %}






  {% endif %}

    <div class="progress-bar {{ cls }} progress-bar-striped" role="progressbar"
        aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ value }}%">
        {{ value }}%
    </div>

{#    <span class="label {{ cls }}">{{ text }}</span>#}
{% endmacro %}