<html>
<title>{% block title %}{{ title }}{% endblock %}</title>
<!-- jQuery -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
{% block extra_js %}

{% endblock %}

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/log.css">

<div class="container-fluid">
      {% block content %}

      {% endblock %}

</div>
</html>
